/* Details */
.detail .img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 1.625rem;
}

.detail hr {
  margin: 0;
  background-color: #000;
  border: 0;
  opacity: 1;
}

.detail .btn-submit {
  background-color: transparent;
  transition: all 0.5s ease;
  line-height: 1;
  border: 3px solid #f60165;
  color: #f60165;
  font-weight: bold;
  border-radius: 6px;
  width: 300px;
  padding: 0.75rem 3rem;
}

@media (max-width: 768px) {
  .detail .btn-submit {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .detail .btn-submit {
    margin-left: 20px;
  }
}

.detail .btn-submit:hover {
  color: #fff;
  background-color: #f60165;
}
